@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 14px/21px Helvetica, Helvetica Neue, Arial;
    
    color: #fff;
}
a{
    color: #fff;
}
a:active, a:visited, a:hover{
    color: #000;
}
 .header {
    width: 1062px;
    /*margin: 0 5%;*/
}

.main-container .main{
    padding-top: 70px;
    position: relative;
    min-height: 800px;
}
nav a{
    width: auto;
    margin: 62px;
}
header h1, header nav{
    float: left;
}
header nav li{
    display: inline-block;
}
/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    /*border-bottom: 20px solid #e44d26;*/
}
.header-container header.wrapper{
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    margin: auto; 
    width: 100%;
    /*background: teal;  */
}

.main-container,
.header-container, .footer-container{
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}
.footer-container{
    padding: 0 100px;
    background: black;
}
.footer-container a{
    color: #fff;
}
.title {
    color: white;
}

header.header{
    background: black;
}
/* ==============
    MOBILE: Menu
   ============== */
.header nav{
    margin: 20px 0 10px 15px;
}   

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    /*background: #e44d26;*/
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}
/* ==============
    MOBILE: Main
   ============== */
#logo{
    margin-left: 10px;
}
#logo a{
    color: white;
}
.main {
    padding: 30px 0;
}
.main article{
    padding-top: 70px; 
    /*min-height: 700px;*/
    padding-left: 100px;
    padding-right: 100px;
}
#contacts,
#about{
    /*padding-top: 0;*/
}
.main article h1 {
    font-size: 36px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
}
.main article tabs{
    padding: 0;
    margin: 0;
}
.main article > div{
    display: none;
}
.main article > div.active{
    display: block;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
/*.main article section{
    display: none;
}
.main article section.active{
    display: block;
}*/
.main section h2{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: capitalize;
    font-size: 28px;
}
.main section h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.main aside {
    color: white;
    padding: 0px 5% 10px;
}

ul.tabs.metabs {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
ul.tabs.metabs li{
    display: inline-block;
}
ul.nav.nav-tabs{
    text-align: center;
    margin: 0 auto;
    width: 200px;
}
.footer-container footer {
    /*color: white;*/
    padding: 20px 0;
}
footer.wrapper > div{
    float: left;
}
footer.wrapper .credits{
    float: right;
}
.footer-container{
    border-top: 1px dotted black;
}

#about{
    background: #028e9b;
}
#products{
    background: #f48b0b;
}
#people{
    background: #ffbf00;
}
#clients{
    background: #ea0037;
}
#contacts{
    background: #015c65;
}


/* ========================
    RESPONSIVE 
 ==========================*/
 /*MOBILE*/
 @media all and (max-width: 640px) and (min-width: 320px) {
    button.navbar-toggle.collapsed{
        background: black;
        color: white;
        border: none;
        float: right;
        margin: 18px 0;
    }
    button.navbar-toggle{
        margin: 18px 0;
        background: black;
        color: white;
        border: none;
        float: right;
    }
    .main article{
        padding: 10px;
    }
    div.navbar-header{
        width: 100%;
        float: left;
    }
    div.main-container {
        padding-top: 61px;
    }
 } 

/*TABLET*/
@media all and (max-width: 960px) and (min-width: 640px){
    button.navbar-toggle.collapsed{
        background: black;
        color: white;
        border: none;
        float: right;
        margin: 18px 0;
    }
    button.navbar-toggle{
        margin: 18px 0;
        background: black;
        color: white;
        border: none;
        float: right;
    }
    .main article{
        padding: 10px;
    }
    div.navbar-header{
        width: 100%;
        float: left;
    }
    div.main-container {
        padding-top: 61px;
    }
} 
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}